*.iml
*.log
.idea
.entry
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
package-lock.json
Thumbs.db
.project
.*proj
.svn
*.swp
*.swo
*.pyc
*.pyo
node_modules
.cache
.vscode
*.xcworkspace
.tea
.entry
/build/
/lib/
/es/
/examples/es/
